.root {
   margin-top: 24px;
}
.title {
  font-weight: bold;
}
.indicator {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-top: 12px;
 }

.indicator__title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.indicator__value {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0px;
  -ms-flex: 1 0 0px;
  flex: 1 0 0px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
}

.indicator__value__scale {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
}
